@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--------------------CSS RESET----------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------*/
body {
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    --purple: #8000FF;
}

section.intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

section.intro .name {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

section.intro .name span {
    font-size: 144px;
    text-shadow: 0 0 50px rgba(158, 0, 255, 0.77);
}

section.intro .info {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 46px;
    max-width: 990px;
}

section.intro .info span {
    color: var(--purple);
}

section.contact, section.about, section.stacks, .project_item, section.projects > .title {
    padding: 0 10%;
}

section.projects .title {
    margin-bottom: 10px;
}

.header {
    padding: 0 12%;
}

section > .title {
    font-size: 60px;
    font-weight: 700;
}

.project_item {
    position: sticky;
    top: 0;
    background-color: white;

    display: flex;
    height: 100vh;
    max-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    border-bottom: 2px solid #d6d6d6;
}

.project_item img {
    max-width: 590px;
    max-height: 80vh;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.project_item img:hover {
    scale: 1.1;
}

.project_item .texts {
    max-width: 395px;
}

.project_item .texts .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 7px;
    transition: 0.3s ease-out;
}

.project_item .texts .title:hover {
    color: var(--purple);
}

.project_item .texts p {
    font-size: 16px;
    line-height: 30.5px;
}

section.contact {
    display: flex;
    gap: 24px;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
}

section .title span {
    color: var(--purple);
}

section.contact .text {
    max-width: 777px;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
}

section.contact .my_email {
    font-size: 36px;
    font-weight: 600;
    line-height: 51px;
    color: #000;
    text-decoration: none;
}

section.contact .accounts {
    display: flex;
    gap: 40px;
}

.header {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 16px;

    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(21px);
}

.header .text {
    font-size: 16px;
    font-weight: 600;
}

.header .line {
    flex-grow: 1;
    height: 7px;
    background-color: #000;
}

.project_details .top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.project_details h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 27px;
}

.project_details .subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 38px;
    max-width: 900px;
    margin-bottom: 55px;
}

.project_details .videoContainer {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-bottom: 81px;
}

.project_details iframe {
    width: 1000px;
    height: 83vh;
    box-shadow: 0px 0px 25px 0px rgba(158, 0, 255, 0.70);
    transition: 0.3s ease-in-out;
}

.project_details iframe:hover {
    box-shadow: 0px 0px 35px 0px rgba(158, 0, 255, 1.0);
}

.top ~ section .title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 18px;
}

section.about .text {
    max-width: 777px;
}

section.about .text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 20px;
}

section.about {
    margin-bottom: 55px;
}

section.stacks .texts {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 70px;
}

.contactBtnFixed {
    background-color: #fff;
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: 600;
    color: var(--purple);
    font-size: 16px;
    width: fit-content;

    position: fixed;
    top: 48px;
    right: 10%;
    z-index: 4;

    text-decoration: none;
    transition: 0.3s ease-out;
}

.contactBtnFixed:hover {
    background-color: var(--purple);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 48.625rem) {
    .project_item {
        flex-direction: column;
    }

    .project_item img {
        max-width: 95vw;
        max-height: 40vh;
    }

    section.contact {
        height: 100vh;
        margin: 0 13px;
    }

    .header .text {
        font-size: 14px;
        line-height: 1.5;
    }

    .project_details h1 {
        font-size: 40px;
        line-height: 1.2;
    }

    main.project_details {
        padding: 0 20px;
    }

    .project_details .subtitle {
        font-size: 16px;
        line-height: 30px;
    }

    section.contact, section.about, section.stacks, .project_item, section.projects > .title {
        padding: 0 3%;
    }

    .top ~ section .title {
        font-size: 36px;
    }

    section.about .text p {
        font-size: 15px;
        line-height: 28px;
    }

    section.stacks .texts {
        font-size: 18px;
    }

    .project_details .top {
        margin-bottom: 30px;
    }

    .project_details iframe {
        height: 50vh;
    }

    .project_item .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

/* mobile */
@media screen and (max-width: 39rem) {
    section.intro .name {
        font-size: 62px;
        line-height: 1.2;
    }

    section.intro .name span {
        font-size: 85px;
    }

    section.intro .info {
        font-size: 16px;
        line-height: 29px;
    }

    section.projects .title {
        font-size: 40px;
    }

    .project_item .texts .title {
        font-size: 22px;
        text-align: center;
        margin: 0 13px;
    }

    .project_item .texts p {
        font-size: 15px;
        text-align: center;
        line-height: 27px;
        margin: 0 13px;
    }

    section > .title {
        font-size: 42px;
    }

    section.contact .text {
        font-size: 17px;
        line-height: 25px;
    }

    section.contact .my_email {
        font-size: 20px;
    }
}